:host {
  display: block;
  text-align: center;
}

.pagination {
  display: inline-flex;
  list-style: none;

  .page-item {
    float: left;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #8510AE, #BF1F8D);
    border: none;
    border-radius: 1px;
    margin: 0px 5px;
    padding: 5px 10px;

    &.disabled {
      opacity: 0.5;
    }

    &.active {
      color: tomato;
      border: 1px solid;
    }

    .page-link {

    }
  }
}