<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li (click)="setPage(1)" [ngClass]="{ disabled:pager.currentPage === 1 }" class="page-item first-item">
    <a class="page-link">Primera</a>
  </li>
  <li (click)="setPage(pager.currentPage - 1)" [ngClass]="{ disabled:pager.currentPage === 1 }" class="page-item previous-item">
    <a class="page-link"><<</a>
  </li>
  <li *ngFor="let page of pager.pages" (click)="setPage(page)" [ngClass]="{ active:pager.currentPage === page }" class="page-item number-item">
    <a class="page-link">{{page}}</a>
  </li>
  <li (click)="setPage(pager.currentPage + 1)" [ngClass]="{ disabled:pager.currentPage === pager.totalPages }" class="page-item next-item">
    <a class="page-link">>></a>
  </li>
  <li (click)="setPage(pager.totalPages)" [ngClass]="{ disabled:pager.currentPage === pager.totalPages }" class="page-item last-item">
    <a class="page-link">Ultima</a>
  </li>
</ul>