<div class="blog-master-container">
  <div class="header">
    <h2>{{ currentTitle }}</h2>
    <button (click)="createCategorie()">Nueva</button>
  </div>
  <div class="content">
    <app-category-item *ngFor="let category of categories"
      [title]="category.name"
      [imageSrc]="category.imageSrc"
      (click)="getSubcategories(category)">
    </app-category-item>
  </div>
</div>
<app-loader *ngIf="showLoader" [message]="loaderMessage"></app-loader>
