.blog-master-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .header {
        margin: 1em 0;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}