:host {
    .mat-dialog-content {
        form {
            mat-form-field {
                width: 100%;
            }
        }
    }

    .mat-dialog-actions {
        justify-content: center;
    }
}