<h1 mat-dialog-title>Crea una nueva categoria</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="">
            <input matInput placeholder="Nombre" name="name" [(ngModel)]="name">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="Imagen" name="imageSrc" [(ngModel)]="imageSrc">
        </mat-form-field>

        <mat-form-field class="">
            <input matInput placeholder="descripcion" name="description" [(ngModel)]="description">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onConfirmClick()">Guardar</button>
</div>