<div class="events-container">
  <header class="events-header">
    <div class="events-header-info">
      <img src="assets/imgs/icon.png" alt="EDE LOGO" (click)="goToHome()">
      <div class="events-header-info-title">
        <span>Bienvenido a</span>
        <div class="events-header-info-title-name">
          <span>E</span>
          <span>Dance</span>
          <span>Event</span>
        </div>
      </div>
    </div>
    <div class="events-header-user">
      <span class="events-header-user-signature">
        {{ loggedUser.signature || loggedUser.name }}
      </span>
    </div>
  </header>
  <nav role='navigation'>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a (click)="goToEvents()"><li><p class="icon-events"></p>   Eventos</li></a>
        <a (click)="goToUsers()" *ngIf="loggedUser.role == 'Administrador'"><li><p class="icon-user"></p>   Usuarios</li></a>
        <a (click)="logout()"><li><p class="icon-logout"></p>   Cerrar sesion</li></a>
      </ul>
    </div>
  </nav>
  <div class="events-separator"></div>
  <section class="events-data">
    <div class="tickets-statistics">
      <div class="statistic">
        <span class="statistic-name" *ngIf="eventToShow.eventType == 'payment'">tickets vendidos</span>
        <span class="statistic-name" *ngIf="eventToShow.eventType == 'free'">tickets adquiridos</span>
        <span class="statistic-name" *ngIf="eventToShow.eventType == 'promotional'">No hay boletería disponible</span>
        <span class="statistic-value">{{ eventTickets.length }}</span>
      </div>
      <div class="statistic values" *ngIf="eventToShow.eventType == 'payment'">
        <span class="statistic-name">Dinero recaudado</span>
        <span class="statistic-value" *ngIf="eventTickets.length > 0">Total recaudado: ....... $ {{ totalEarned | currency:'COP':'':'0.0-0' }}</span>
        <span class="statistic-value" *ngIf="eventTickets.length > 0">Recaudo para EDE: ... $ {{ totalEarnedEDE | currency:'COP':'':'0.0-0' }}</span>
        <span class="statistic-value" *ngIf="eventTickets.length > 0">Total ganancia: ......... $ {{ totalEarnedUser | currency:'COP':'':'0.0-0' }}</span>
        <span class="statistic-novalue" *ngIf="eventTickets.length == 0">0</span>
      </div>
      <div class="statistic">
        <span class="statistic-name">tickets validados</span>
        <span class="statistic-value">{{ totalCheckedInTickets }}</span>
      </div>
      <div class="statistic-guestlist" *ngIf="eventToShow.guestlist == 1">
        <span class="statistic-guestlist-name">total usuarios en lista</span>
        <span class="statistic-guestlist-value">{{ eventToShow.guestlistUsers.length }}</span>
        <span class="statistic-guestlist-action" *ngIf="eventToShow.guestlistUsers.length > 0" (click)="downloadGuestlist()">Descargar Excel</span>
      </div>
    </div>
    <div class="tickets-statistics-detailed">
      <div class="statistic values" *ngIf="eventToShow.eventType == 'payment' && loggedUser.role == 'Administrador'">
        <span class="statistic-name">Detalle de las ventas</span>
        <p>Etapas: </p>
        <span class="statistic-value" *ngFor="let stage of paymentStages | keyvalue"> <span class="big">{{ stage.value }}</span> Boletas de {{ stage.key | currency:'COP':'':'0.0-0' }} vendidas</span>
        <span class="statistic-novalue" *ngIf="eventTickets.length == 0">-</span>
        <p>Medios de pago:</p>
        <span class="statistic-value" *ngFor="let method of paymentMethods | keyvalue">{{ method.key }}: <span class="big">{{ method.value }}</span>  Boletas Vendidas</span>
        <span class="statistic-novalue" *ngIf="eventTickets.length == 0">0</span>
      </div>
    </div>
    <div class="events-data-filters">
      <div class="item">
        <label for="">Titulo</label>
        <input type="text">
      </div>
      <div class="item">
        <label for="">Ciudad</label>
        <input type="text">
      </div>
      <div class="item">
        <button>Limpiar Filtros</button>
      </div>
      <div class="item">
        <button>Buscar</button>
      </div>
    </div>
    <div class="events-data-table">
      <table>
        <thead *ngIf="eventToShow.eventType == 'payment'">
          <tr>
            <th>Usuario</th>
            <th>Ciudad</th>
            <th>Fecha de compra</th>
            <th>Valor</th>
            <th>Medio de pago</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody *ngIf="eventToShow.eventType == 'payment'">
          <tr *ngFor="let ticket of eventTickets">
            <td>{{ ticket.user.name + ' ' + ticket.user.lastname }}</td>
            <td>{{ ticket.user.location }}</td>
            <td>{{ ticket.payment.createdDate | date }}</td>
            <td>{{ ticket.payment.value | currency:'COP':'':'0.0-0' }}</td>
            <td>{{ ticket.payment.entity }}</td>
            <td>{{ ticket.status }}</td>
          </tr>
        </tbody>
        <thead *ngIf="eventToShow.eventType == 'free'">
          <tr>
            <th>Usuario</th>
            <th>Ciudad</th>
            <th>Fecha de adquisición</th>
            <th>Valor</th>
            <th>Medio de pago</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody *ngIf="eventToShow.eventType == 'free'">
          <tr *ngFor="let ticket of eventTickets">
            <td>{{ ticket.user.name + ' ' + ticket.user.lastname }}</td>
            <td>{{ ticket.user.location }}</td>
            <td>{{ ticket.createdAt | date }}</td>
            <td> N/A </td>
            <td> N/A </td>
            <td>{{ ticket.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>