.events-container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #190041, #4900A9);
    overflow-y: scroll;
    .events-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &-info {
            display: flex;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                margin-right: 2em;
                cursor: pointer;
            }
            &-title {
                display: flex;
                flex-direction: column;
                text-transform: uppercase; 
                color: white;
                &-name {
                    display: flex;
                    font-weight: bold;
                    font-size: 1.5em;
                    span {
                        margin-right: .5em;
                    }
                }
            }
        }
        &-user {
            display: flex;
            align-items: center;
            color: white;
            &-signature {
                margin-right: 4em;
                font-size: 2em;
                font-weight: bold;
                color: #69F1B0;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .events-separator {
        width: 100%;
        height: .5em;
        background-color: #4900A9;
    }
    .events-data {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        
        .tickets-statistics, .tickets-statistics-detailed {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .statistic {
                margin: 1em 0;
                width: 18em;
                height: 8em;
                padding: 20px;
                background: #8510AE;
                border: 2px solid;
                color: white;
                text-align: center;
                box-sizing: border-box;
                &-name {
                    display: block;
                    font-size: .8em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 2rem;
                    font-weight: bold;
                }
                &-value {
                    font-size: 2em;
                }
            }
            .values {
                display: flex;
                flex-direction: column;
                .statistic-name {
                    margin-bottom: 1rem;
                }
                .statistic-value {
                    font-size: 16px;
                    margin-bottom: 2px;
                    text-align: left;
                }
                .statistic-novalue {
                    font-size: 2em;
                }
            }
            .statistic-guestlist {
                @extend .statistic;
                padding: 10px;
                &-name {
                    margin-bottom: .5rem;
                    display: block;
                    font-size: .8em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                }
                &-value {
                    display: block;
                    font-size: 2em;
                    margin-bottom: 1rem;
                }
                &-action {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .tickets-statistics-detailed {
            margin-top: 1em;
            justify-content: center;
            align-items: center;
            .statistic {
                width: 30em;
                height: auto;
                &-name {
                    font-weight: bold;
                    font-size: 1.5
                }
            }
            p {
                font-weight: bold;
                font-size: 1.4em;
            }
            .big {
                font-size: 1.4em;
                font-weight: bold;
            }
        }
        &-filters {
            margin: 1em 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            color: white;
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-right: 2em;
                input, select {
                    border: none;
                    width: 12em;
                    height: 2em;
                    border-radius: 10px;
                    font-size: 1em;
                    padding-left: 2px;
                }
                button {
                    color: white;
                    cursor: pointer;
                    border-radius: 1px;
                    font-weight: bold;
                    font-size: 1em;
                    height: 2em;
                    border: none;
                    width: 10em;
                    background: linear-gradient(to right, #8510AE, #BF1F8D);
                }
            }
        }
        &-table {
            margin: 1em auto;
            color: white;
            width: 100%;
            table {
                width: 100%;
                text-align: center;
                border-spacing: 0;
                thead {
                    background: linear-gradient(to right, #BF1F8D, #8510AE);
                    tr {
                        height: 3em;
                    }
                }
                td {
                    margin: 0;
                }
                tbody {
                    background-color: #D0C7DA;
                    tr {
                        height: 3em;
                        color: #4900A9;
                        font-weight: bold;
                        td {
                            border-bottom: 2px solid white;
                            border-top: 2px solid white;
                        }
                    }
                }
            }
            &-name {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

:host ::ng-deep angular2-date-picker {
    .wc-date-container {
        width: 10em;
        border-radius: 10px;
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 520px) {

    .events-container {
        width: auto;
        overflow-x: scroll;
        .events-header {
            &-info {
                &-title {
                    &-name {
                        font-size: 1em;
                    }
                }
            }
            &-user {
                &-signature {
                    margin-right: 3em;
                }
            }
        }
        .events-data {
            .tickets-statistics, .tickets-statistics-detailed {
                flex-wrap: wrap;
                .statistic {
                    width: 48%;
                }
            }
            &-filters {
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: start;
                .item {
                    margin: 14px 0;
                    width: 80%;
                    input, select {
                        width: 100%;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
            &-table {
                min-width: 800px;
            }
        }
    }

 }