<div class="events-container">
  <header class="events-header">
    <div class="events-header-info">
      <img src="assets/imgs/icon.png" alt="EDE LOGO" (click)="goToHome()">
      <div class="events-header-info-title">
          <span>Bienvenido a</span>
          <div class="events-header-info-title-name">
            <span>E</span>
            <span>Dance</span>
            <span>Event</span>
          </div>
      </div>
    </div>
    <div class="events-header-user">
      <span class="events-header-user-signature">
        {{ loggedUser.signature || loggedUser.name }}
      </span>
    </div>
  </header>
  <nav role='navigation'>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a (click)="goToEvents()"><li><p class="icon-events"></p>   Eventos</li></a>
        <a (click)="goToUsers()" *ngIf="loggedUser.role == 'Administrador'"><li><p class="icon-user"></p>   Usuarios</li></a>
        <a (click)="logout()"><li><p class="icon-logout"></p>   Cerrar sesion</li></a>
      </ul>
    </div>
  </nav>
  <div class="events-separator" [ngStyle]="{'height': menuHeight}">
    <div class="options" *ngIf="menuOpened">
        <span>Mi perfil</span>
        <span>Mis eventos</span>
        <span (click)="logout()">Cerrar sesión</span>
    </div>
  </div>
  <section class="events-data">
    <div class="events-data-header">
      <span>Eventos</span>
      <button (click)="goToCreateEvent()">Nuevo Evento</button>
    </div>
    <div class="events-data-filters">
      <div class="item">
        <label for="">Titulo</label>
        <input type="text" [(ngModel)]="eventFilters.title">
      </div>
      <div class="item">
        <label for="">Fecha de publicado</label>
        <input matInput [matDatepicker]="publishDate" [(ngModel)]="eventFilters.createdAt">
        <mat-datepicker #publishDate></mat-datepicker>
      </div>
      <div class="item">
        <label for="">Fecha de inicio</label>
        <input matInput [matDatepicker]="startDate" [(ngModel)]="eventFilters.startDate">
        <mat-datepicker #startDate></mat-datepicker>
      </div>
      <div class="item">
        <label for="">Estado</label>
        <select name="states" id="" [(ngModel)]="eventFilters.state">
          <option value="">Todos</option>
          <option value="active">Activo</option>
          <option value="inactive">Inactivo</option>
        </select>
      </div>
      <div class="item">
        <label for="">Firma/Realizador</label>
        <input type="text" [(ngModel)]="eventFilters.signature">
      </div>
      <div class="item">
        <button (click)="clearFilters()">Limpiar Filtros</button>
      </div>
      <div class="item">
        <button (click)="filter()">Buscar</button>
      </div>
    </div>
    <div class="events-data-table">
      <table>
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalización</th>
            <th>Estado</th>
            <th>Firma/Realizador</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="pageOfItems.length && pageOfItems.length > 0">
          <tr *ngFor="let event of pageOfItems">
            <td (click)="goToDetail(event)" class="events-data-table-name">{{event.name}}</td>
            <td>{{event?.startDate | date}}</td>
            <td>{{event?.endDate | date }}</td>
            <td>{{event?.status == 'active' ? 'Activo' : 'Inactivo' }}</td>
            <td>{{event?.signature}}</td>
            <td>
              <span class="icon-pencil" title="Editar" (click)="goToEditEvent(event)"></span>
              -
              <span class="icon-delete" title="Inactivar" (click)="showDeleteConfirmation(event._id)" *ngIf="event.status == 'active'"></span>
              <span class="icon-upload" title="Activar" (click)="showActiveConfirmation(event._id)" *ngIf="event.status == 'inactive'"></span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!pageOfItems.length || pageOfItems.length == 0">
          <tr>
            <td>No hay información para mostrar.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <div class="paginator-container">
        <paginator [items]="events" [pageSize]="20" [maxPages]="5" (changePage)="onChangePage($event)"></paginator>
      </div>
    </div>
  </section>
</div>
<swal
  #confirmation
  title="¿Estás seguro?"
  text="Confirma que quieres inactivar tu evento"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="inactiveEvent()"
  type="question">
</swal>
<swal
  #confirmationToActive
  title="¿Estás seguro?"
  text="Confirma que quieres activar nuevamente tu evento"
  [showCancelButton]="true"
  (confirm)="activateEvent()"
  type="question">
</swal>
<swal
  #failedToInactive
  title="Oops!"
  text="No pudimos inactivar tu evento porque hay boletería vendida, envianos un correo a: edancemarketing@gmail.com y nos pondremos en contacto contigo."
  type="error">
</swal>
<swal
  #confirmInactived
  title="Operación exitosa"
  text="Se inactivo tu evento correctamente"
  type="success">
</swal>
<swal
  #confirmActived
  title="Operación exitosa"
  text="Tu evento ha sido activado nuevamente, recuerda que luego de vender boletería no puedes inactivarlo"
  type="success">
</swal>

<app-loader [message]="'Realizando busqueda...'" *ngIf="showLoader"></app-loader>