.events-container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #190041, #4900A9);
    overflow-y: scroll;
    .events-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &-info {
            display: flex;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                margin-right: 2em;
                cursor: pointer;
            }
            &-title {
                display: flex;
                flex-direction: column;
                text-transform: uppercase; 
                color: white;
                &-name {
                    display: flex;
                    font-weight: bold;
                    font-size: 1.5em;
                    span {
                        margin-right: .5em;
                    }
                }
            }
        }
        &-user {
            display: flex;
            align-items: center;
            color: white;
            &-signature {
                margin-right: 4em;
                font-size: 2em;
                font-weight: bold;
                color: #69F1B0;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .events-separator {
        width: 100%;
        background-color: #4900A9;
        height: 0.5em;
    }
    .events-data {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        &-header {
            display: flex;
            align-items: center;
            margin: 1em 0;
            span {
                text-transform: uppercase;
                color: #5DEBBB;
                font-weight: bold;
                margin-right: 1em;
            }
            button {
                color: white;
                cursor: pointer;
                font-weight: bold;
                border-radius: 1px;
                height: 2em;
                border: none;
                width: 10em;
                background: linear-gradient(to right, #8510AE, #BF1F8D);
            }
        }
        &-filters {
            margin: 1em 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            color: white;
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-right: 2em;
                input, select {
                    border: none;
                    width: 12em;
                    height: 2em;
                    border-radius: 10px;
                    font-size: .8em;
                    padding-left: 5px;
                }
                button {
                    color: white;
                    cursor: pointer;
                    border-radius: 1px;
                    font-weight: bold;
                    height: 2em;
                    border: none;
                    width: 10em;
                    background: linear-gradient(to right, #8510AE, #BF1F8D);
                }
            }
        }
        &-table {
            margin: 1em auto;
            width: 100%;
            table {
                width: 100%;
                text-align: center;
                border-spacing: 0;
                thead {
                    color: white;
                    background: linear-gradient(to right, #BF1F8D, #8510AE);
                    tr {
                        height: 3em;
                    }
                }
                td {
                    margin: 0;
                }
                tbody {
                    background-color: #D0C7DA;
                    tr {
                        height: 3em;
                        color: #4900A9;
                        font-weight: bold;
                        td {
                            border-bottom: 2px solid white;
                            border-top: 2px solid white;
                        }
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
            &-name {
                cursor: pointer;
            }
            span[class^="icon-"] {
                color: black;
                font-size: 1.5em;
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }
        }
    }
}

:host ::ng-deep angular2-date-picker {
    .wc-date-container {
        width: 10em;
        border-radius: 10px;
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 900px) {

    .events-container {
        width: auto;
        .events-header {
            &-info {
                &-title {
                    &-name {
                        font-size: 1em;
                    }
                }
            }
            &-user {
                &-signature {
                    margin-right: 3em;
                }
            }
        }
        .events-data {
            &-header {
                justify-content: center;
            }
            &-filters {
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: start;
                .item {
                    margin: 14px 0;
                    width: 80%;
                    input, select {
                        width: 100%;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
            &-table {
                min-width: 800px;
            }
        }
    }

 }