<img src="{{ imageSrc }}" alt="">
<div class="overlay-info">
  <h4 class="title">{{ title }}</h4>
  <span class="description">{{ description }}</span>
  <span class="read-more">Leer más...</span>
</div>
