:host {
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    .overlay-info {
        background: linear-gradient(to right, #D1D0D8 0%, white 50%, #D1D0D8 100%);
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        h4.title {
            color: #191A52;
            font-weight: bold;
            margin: 0.1em;
        }
        span {
            font-size: 14px;
        }
        span.description {
            color: #191A52;
            font-weight: 200;
            display: block;
        }
        span.read-more {
            color: #5DEBBB;
        }
    }
}