<div class="orientes-crowd-landing-container">
    <div class="form-container">
        <h5>Después del intercambio cultural Colombo-Suizo vivido en la pasada edición del electrónic Meeting en la ciudad, llega la séptima edición a nivel nacional nuevamente a Bucaramanga para celebrar la apertura de la segunda temporada de giras por el territorio nacional con el Electronic Music Week: Una semana de circuitos en torno a la educación, cultura, networking, mesas de trabajo, ruedas de negocio y showcases.</h5>
        <form [formGroup]="guestlistForm">
            <input type="text" name="nombre" formControlName="name" placeholder="Nombre">
            <input type="text" name="celular" formControlName="cellphone" placeholder="Celular">
            <input type="text" name="email" formControlName="email" placeholder="Email">
            <input type="text" name="document" formControlName="document" placeholder="Cedula">
            <input type="text" name="question1" formControlName="question1" id="" placeholder="¿Qué papel desempeña en la industria de la música?">
            <input type="text" name="question2" formControlName="question2" id="" placeholder="¿Cómo se enteró de Electronic Music Week: Electronic Meeting Bucaramanga 2019?">
            <button (click)="saveUser()">Registrar Usuario</button>
        </form>
        <h5>* Al registrar tus datos en este formulario estás aceptando la política de privacidad y tratamiento de datos, disponible para su consulta en http://edancevent.com/politica-de-privacidad/ </h5>
    </div>
</div>
<swal
  #confirmation
  title="Operación exitosa"
  text="Se registro el usuario correctamente"
  type="success">
</swal>
<swal
  #error
  title="Oops!"
  text="Verifica los datos ingresados"
  type="error">
</swal>
<swal
  #errorAlready
  title="Oops!"
  text="Este usuario ya esta registrado"
  type="error">
</swal>
