.orientes-crowd-landing-container {
    font-family: 'Roboto';
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('../../assets/imgs/background-emb.jpeg');
    display: flex;
    align-items: flex-end;
    .form-container {
        background: rgba(0, 0, 0, 0.8);
        width: 60%;
        margin: 1em auto;
        padding: 15px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid white;
                font-size: 18px;
                width: 80%;
                padding: 10px;
                margin-bottom: 2em;
                color: white;
                outline: none;
                :first-of-type {
                    margin-top: 1em;
                }
            }
            button {
                height: 2.5em;
                font-size: 1em;
                margin: 1em 0 2em 0;
                color: white;
                border: 2px solid white;
                text-transform: uppercase;
                letter-spacing: 1px;
                background: black;
                cursor: pointer;
                padding-bottom: 10px 10px 20px 10px;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

@media screen and (min-width : 320px) and (max-width : 520px) {
    .orientes-crowd-landing-container {
        .form-container {
            width: 80%;
        }
    }
}