.orientes-crowd-landing-container {
    font-family: 'Roboto';
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('../../assets/imgs/background-occ.png');
    .header-container {
        width: 90%;
        padding: 30px 80px;
        display: flex;
        justify-content: space-between;
        img {
            width: 100px;
            height: 65px;
        }
        button {
            font-size: 1em;
            margin-top: 10px;
            cursor: pointer;
            padding: 10px 20px;
            letter-spacing: 1px;
            border-radius: 5px;
            text-transform: uppercase;
            border: none;
            color: white;
            height: 2.5em;
            background: linear-gradient(to right, rgb(46, 96, 238), rgb(113, 57, 164));
        }
    }
    .form-container {
        background: rgba(0, 0, 0, 0.5);
        width: 60%;
        margin: 1em auto;
        padding: 15px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid white;
                font-size: 18px;
                width: 80%;
                padding: 10px;
                margin-bottom: 2em;
                color: white;
                outline: none;
                :first-of-type {
                    margin-top: 1em;
                }
            }
            button {
                height: 2.5em;
                font-size: 1em;
                margin: 1em 0 2em 0;
                color: white;
                border: 2px solid white;
                text-transform: uppercase;
                letter-spacing: 1px;
                background: black;
                cursor: pointer;
                padding-bottom: 10px 10px 20px 10px;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
    .logo-aniversario-container {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}

@media screen and (min-width : 320px) and (max-width : 520px) {
    .orientes-crowd-landing-container {
        .header-container {
            width: 70%;
            padding: 30px 40px;
            button {
                margin-left: 10px;
            }
        }
    
        .form-container {
            width: 80%;
        }
    
        .logo-aniversario-container {
            display: none;
        }
    }
}