<div class="orientes-crowd-landing-container">
    <div class="header-container">
        <img src="../../assets/imgs/OCC.png" alt="">
        <button>Ingresar</button>
    </div>
    <div class="form-container">
        <h3>7 Aniversario Oriente's Crowd - Registro de usuarios</h3>
        <form [formGroup]="guestlistForm">
            <input type="text" name="nombre" formControlName="name" placeholder="Nombre">
            <input type="text" name="cedula" formControlName="document" placeholder="Cedula">
            <input type="text" name="celular" formControlName="cellphone" placeholder="Celular">
            <input type="text" name="email" formControlName="email" placeholder="Email">
            <button (click)="saveUser()">Registrar Usuario</button>
        </form>
        <h5>* Al registrar tus datos en este formulario estás aceptando la política de privacidad y tratamiento de datos, disponible para su consulta en http://edancevent.com/politica-de-privacidad/ </h5>
    </div>
    <div class="logo-aniversario-container">
        <img src="../../assets/imgs/aniversario-occ.png" alt="">
    </div>
</div>
<swal
  #confirmation
  title="Operación exitosa"
  text="Se registro el usuario correctamente"
  type="success">
</swal>
<swal
  #error
  title="Oops!"
  text="Verifica los datos ingresados"
  type="error">
</swal>
<swal
  #errorAlready
  title="Oops!"
  text="Este usuario ya esta registrado"
  type="error">
</swal>
