<div class="changePass-container">
  <div class="changePass-image">
    <img src="assets/imgs/icon_gradient.png" alt="">
  </div>
  <div class="changePass-form">
    <input *ngIf="isChangeMode" type="password" placeholder="  Contraseña actual" name="email" [(ngModel)]="currentPassword">
    <input type="password" placeholder="  Nueva Contraseña" name="password" [(ngModel)]="newPassword">
    <input type="password" placeholder="  Confirmar contraseña" name="confirmPassword" [(ngModel)]="passwordConfirmation">
    <button (click)="changePassword()">Cambiar contraseña</button>
  </div>
  <div class="changePass-action">
    <span>About EDE</span>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Enviando un email..."></app-loader>
<swal
  #confirmation
  title="Operación exitosa"
  text="Se actualizo tu contraseña."
  type="success"
  (confirm)="goToLogin()">
</swal>
<swal
  #emptyFielError
  text="Complete los campos"
  title="Error"
  type="error">
</swal>
<swal
  #passwordMatchError
  text="Las contraseñas no coinciden"
  title="Error"
  type="error">
</swal>
