.login-container {
    background-image: url('../../assets/imgs/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .information-image {
        position: absolute;
        left: 15%;
    }

    .vertical-separator {
        height: 410px;
        width: 3px;
        background-color: #BF1F8D;
        position: absolute;
        left: 35%;
    }

    .login-image {
        z-index: 0;
        img {
            width: 220px;
        }
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        z-index: 1;
        input {
            height: 2em;
            width: 15em;
            margin-bottom: 1em;
            border-radius: 4px;
            font-size: 1em;
        }
        label {
            color: white;
        }
        button {
            font-size: .9em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            background: linear-gradient(to right, #33cccc, #66ff99, #33cccc);
            height: 2em;
            color: #18003F;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            margin-bottom: 1em;
        }
    }
    .forgot-action {
        margin-top: 1em;
        text-decoration: underline;
        color: white;
        cursor: pointer;
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 900px) {

    .login-container {
        height: auto;
        .information-image {
            position: inherit;
            margin-top: 5px;
        }

        .vertical-separator {
            display: none;
        }

        .forgot-action {
            margin-bottom: 1em;
        }
    }

 }