
<div class="login-container">
  <img class="information-image" src="assets/imgs/information.png" alt="">
  <div class="vertical-separator"></div>
  <div class="login-image">
    <img src="assets/imgs/icon_gradient.png" alt="">
  </div>
  <div class="login-form">
    <input type="text" placeholder="  Correo" name="username" [(ngModel)]="email">
    <input type="password" placeholder="  Contraseña" name="password" [(ngModel)]="password">
    <button (click)="authenticate()">Ingresar</button>
    <button (click)="signup()">Registrarme</button>
  </div>
  <div class="forgot-action">
    <span (click)="goToRecovery()">Olvide mi contraseña</span>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Validando el usuario..."></app-loader>
<swal
  #errorSwal
  title="Oops!"
  text="Ocurrio un error durante la autenticación, intente de nuevo"
  type="error">
</swal>
<swal
  #errorSwalValidation
  title="Oops!"
  text="Tu usuario aún no ha sido validado. En las próximas 48 horas recibirás una llamada del equipo EDE para verificar tu identidad. "
  type="error">
</swal>
<swal
  #errorNoAuthValidation
  title="Oops!"
  text="Lo sentimos, este sitio web es solo para organizadores. ¡Puedes acceder cuando quieras a la app!"
  type="error">
</swal>