<div class="recovery-container">
  <div class="recovery-image">
    <img src="assets/imgs/icon_gradient.png" alt="">
  </div>
  <div class="recovery-form">
    <input type="email" placeholder="  Email" name="email" [(ngModel)]="userEmail">
    <button (click)="recoveryPassword()">Recuperar</button>
  </div>
  <div class="recovery-action">
    <span>About EDE</span>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Enviando un email..."></app-loader>
<swal
  #confirmation
  title="Operación exitosa"
  text="Si tu usuario existe en nuestra base de datos, te hemos enviado un email con tu contraseña."
  type="success"
  (confirm)="goToLogin()">
</swal>
<swal
  #error
  title="Error"
  text="Ingrese un email valido."
  type="error">
</swal>
