.recovery-container {
    background-image: url('../../assets/imgs/background.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .recovery-image {
        img {
            width: 220px;
        }
    }
    .recovery-form {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        z-index: 100;
        input, select {
            height: 2em;
            width: 20em;
            margin-bottom: 1em;
            border-radius: 4px;
            font-size: 1em;
        }
        label {
            color: white;
        }
        button {
            font-size: .9em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            background: linear-gradient(to right, #33cccc, #66ff99, #33cccc);
            height: 2em;
            color: #18003F;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            margin-bottom: 1em;
        }
    }
    .recovery-action {
        margin-top: 1em;
        color: white;
        cursor: pointer;
    }
}