<h1 mat-dialog-title>Terminos y condiciones</h1>
<div mat-dialog-content>
    <div class="info">
    1.	Condiciones Legales
      CONDICIONES DE USO Y DE CONTRATACIÓN DE EDE

    1.1 Las presentes condiciones de uso (las “Condiciones de Uso”) regulan el acceso y la utilización de la App móvil de EDE (la “App”) y del sitio web, alojado bajo el nombre de dominio www.edancevent.com y bajo cualquiera de los subdominios o páginas web dependientes del mismo (el “Sitio Web”), así como los contenidos y servicios que el titular del Sitio Web pone a disposición de sus usuarios (los “Usuarios”) y establecen junto con la Política de Privacidad y de Cookies, relativas a la gestión de datos de carácter personal de los Usuarios, los términos y condiciones por los que se rige el Sitio Web y la App (los “Términos y Condiciones”).

    En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, se exponen los siguientes datos identificativos del titular del Sitio Web y de la App:
    Electronic Dance Event / EDE es una sociedad mercantil cuyo domicilio social se encuentra en Medellín, Colombia. Podrá contactarnos al celular: +57 3146253071 

    El acceso al Sitio Web y a la App o su uso por el Usuario implica necesariamente, y sin reservas, el conocimiento y aceptación de los Términos y Condiciones. Por tanto, se recomienda que el Usuario los lea detenidamente cada vez que quiera acceder al Sitio Web y a la App.

    EDE ha creado en el Sitio Web una herramienta de organización de eventos y compraventa de entradas a través de la cual ofrece a sus Usuarios el “Servicio de Organización de Eventos 100% de música electrónica”, el “Servicio de Gestión de eventos” y el “Servicio de Compra de Entradas 100% digital”.

    Mediante la prestación de los servicios descritos anteriormente, EDE actúa únicamente como intermediario en la compraventa de entradas entre los Usuarios, quedando al margen de la relación contractual que se establece entre los Usuarios entre sí. A estos efectos, EDE ofrece un servicio para facilitar a organizadores de evento y al público en general un canal de adquisición de dichas entradas, pero en ningún momento actúa en calidad de entidad organizadora o promotora del evento o espectáculo.

    Para poder utilizar los servicios ofrecidos en el Sitio Web y en la App, es condición necesaria que los Usuarios sean mayores de edad, por lo que, con la aceptación de los siguientes Términos y Condiciones, el Usuario manifiesta que es mayor de edad, así como que dispone de la capacidad necesaria para contratar los servicios ofrecidos en el Sitio Web y/o en la App.

    En relación a lo anterior el Usuario será, en todo caso, responsable de la exactitud y veracidad de los datos proporcionados a EDE a través del formulario de registro y procesos de reserva.
    Aquellos Usuarios menores de edad que estén interesados en contratar los servicios requerirán la autorización de previa de sus padres o tutores legales.
    En el momento que el USUARIO adquiere nuestros servicios acepta los siguientes términos y condiciones:
    1. En el momento de la compra el USUARIO es el responsable de facilitar sus datos correctamente en los procesos de compra establecidos por EDE, debiendo prestar especial atención en cuanto a la introducción de los datos bancarios y de carácter personal.
    2. El usuario declara conocer que la realización de los eventos de los cuales adquiere su boleta no depende de EDE, Por lo anterior no se hace responsable de horarios, condiciones de seguridad, ubicaciones, realización, organización o contenido del evento; esta responsabilidad es del empresario o realizador del evento, que aparece con nombre e identificación en el tiquete.
    3. El USUARIO reconoce y acepta que las boletas que compre tienen un costo adicional por el servicio ofrecido por el sistema de EDE. Este costo puede variar según el evento y cantidad de boletos adquiridos, este dinero será cancelado a EDE.
    4. El USUARIO se compromete a utilizar el Sitio Web www.edancevent.com de conformidad con las leyes de la República de Colombia y con lo dispuesto en estos Términos. El USUARIO se abstendrá de utilizar el Sitio con fines o efectos ilícitos, lesivos de los derechos e intereses de terceros, o de realizar actos que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir el normal funcionamiento del Sitio.
    5. Las compras que se realicen a través del Sitio o aplicación, realizadas a través de los medios de pago disponibles en el mismo, están sujetas a la verificación y aceptación de la tarjeta débito o crédito, con la cual los USUARIOS realicen las compras, por parte de las respectivas entidades financieras y/o bancarias. Así como la verificación de los datos 
    6. EL USUARIO acepta que los datos de evento, número de tiquetes, ubicaciones, valor de los tiquetes, fechas y horas del evento, han sido revisadas por él y la información ingresada al sistema de EDE es de su responsabilidad.
    7. EDE, no está obligado a hacer devoluciones de dinero por errores de fechas, horas, valores registrados, nombre de eventos, calidad de los espectáculos, o en general causas ajenas a responsabilidades propias o de sus agentes. 
    9. Si el empresario decide cancelar definitivamente el evento y procede hacer devolución del dinero, EDE publicará en su  página y redes sociales  el proceso de devolución. Se aclara que EL USUSARIO tiene un plazo máximo de 8 días hábiles para realizar dicho proceso, luego de ser publicada la información. Pasado el tiempo EDE no se responsabiliza por dicha devolución.
    10. El USUARIO es consciente que en el momento en que retire o reciba sus entradas, él es el único responsable de las mismas, se recomienda que las guarde en un lugar seguro, lejos del calor, humedad o de la luz solar.
    11. Si el EMPRESARIO  decide cancelar definitivamente el evento, EDE publicará la información por medio de sus herramientas web (página, redes sociales y correo remoto), al igual que le comunicará a los USUARIOS sobre el proceso de devolución del dinero. El proceso de la devolución del dinero tiene un plazo máximo de 8 días hábiles luego de ser publicada la información.
    12. EL USUARIO será responsable de tomar medidas adecuadas y actuar diligentemente al momento de acceder al sitio. Parte de dicha diligencia implica tener programas de protección, antivirus, para manejo de malware, spyware y herramientas similares. Además, deberá tener copias de los programas y datos que tengan en el equipo mediante el cual accede al sitio.
    13. EL USUARIO acepta que la información registrada en el sistema EDE, así como de las transacciones efectuadas son de propiedad de EDE; quien está autorizado para dar usos comerciales sin afectar en ningún caso la intimidad y seguridad de los usuarios.
    14. Cualquier uso no autorizado de los Contenidos y/o de las Marcas Comerciales constituye una violación a estos Términos, a las leyes de derechos de autor y de propiedad industrial, así como una violación a las leyes nacionales y a los tratados internacionales en materia de propiedad intelectual.
    15. Previa confirmación de la compra de entradas a través del Sitio, LOS USUARIOS reconocen haber revisado y aceptado los datos del evento o espectáculo, el número de tiquetes a adquirir, las ubicaciones de las entradas en los eventos o espectáculos, el valor de las entradas, junto con el recargo indicado anteriormente, de haberlo, y la(s) fecha(s) y hora(s) del evento o espectáculo. La responsabilidad de errores cometidos por LOS USUARIOS en el ingreso de información para la compra de entradas es de su entera responsabilidad.
    16. Cuando la compra es realizada con tarjeta de crédito, tanto cuando adquiera sus Entradas por Boletería como cuando se envíen a domicilio, las mismas SOLAMENTE pueden ser entregadas a la persona que realizó la compra, sea ésta Titular de la Tarjeta de crédito utilizada para realizar la compra, o de la tarjeta adicional utilizada a tales fines mediante acreditación fehaciente de su identidad.
    17. EL USUARIOS es consiente si al momento del ingreso al evento o espectáculo, se detectaran boletos adulterados, con reporte de perdidas, robo, etc no se permitirá el ingreso y se avisará a la autoridades, igualmente se podrá solicitar el documento de identificación.
    18. No se permitirá el ingreso de personas embriagadas o bajo efectos alucinógenos.
    19. El USUARIO entiende que las entradas no podrán ser utilizadas en ningún caso para su reventa y/o aplicación comercial o de promoción alguna sin la previa autorización por escrito del Organizador o de EDE.
    20. No será permitido el ingreso al evento con pirotecnia, grabadoras, filmadoras, cámaras de fotografía y de video, ni cualquier elemento similar a los mencionados a criterio del Organizador, pudiendo los mismos ser retirados del lugar y destruido su contenido. El Organizador podrá solicitar que se apague todo equipo de radio llamada o teléfono celular antes del acceso al evento.
    21. Está prohibido el acceso a menores de 18 años de edad
    21. En caso de contratación o compra de boletería por menores de edad, EDE no se responsabiliza de la veracidad y exactitud de los datos rellenados por el usuario y por tanto no se puede  constatar con absoluta seguridad la edad de los mismos. Por este motivo no asumirá ninguna responsabilidad sobre personas que incumplan la normativa, sean menores de edad o sean expulsadas anteriormente de la web.
    22. EDE podrá ponerse en contacto con el USUARIO en cualquier momento para que este demuestre su edad mediante fotocopia de la Cédula de Ciudadanía o el equivalente. La no respuesta en plazo de 8 días podrá suponer el bloqueo o cancelación del perfil. Si se confirma que un menor de 14 años tiene un perfil, esté se procederá a ser bloqueado o eliminado inmediatamente.
    23. Con la tenencia del boleto se entienden aceptadas las condiciones.
    
    · El USUARIO debe registrar su nombre y cédula verdadero para poder hacer uso del Guest List a futuro.

    · Los contenidos e información no vinculan a “E Dance Event” ni constituyen opiniones, consejos o asesoramientos de ningún tipo pues se trata meramente de un servicio ofrecido con carácter de entretenimiento. “E Dance Event” no se responsabiliza de las opiniones de promotores y usuarios.

    · La entrada en lista esta sujeta a disponibilidad de cupos asignados por el creador del evento. “E Dance Event” no se hace responsable por las ofertas que este evento o promotor ofrece.

    · Cuando se registra, el usuario acepta proveer información exacta, completa y actualizada que se requiere para completar el formulario de “E Dance Event”, para supervisar o controlar la información.

    · Solo las personas que tienen la capacidad legal están autorizados para registrarse en “E Dance Event” Las personas que no cuenten con una mayoría de edad de 18 años no podrán registrarse en dicha aplicación.

    · No se puede transferir por ningún motivo, el registro del usuario a terceras personas.
    “E Dance Event” se reserva el derecho de usar cualquier acción legal posible para identificar a los usuarios.

    · E Dance Event no se responsabiliza por cualquier daño como resultados de la pérdida o mal uso de la clave por parte de terceros. El usuario es el único responsable por ello.

    · E Dance Event solo es un intermediario que tiene como fin optimizar el servicio de eventos programadas en X o Y ciudad. Asimismo, al aceptar el servicio de “E Dance Event”, el usuario reconoce que “E Dance Event” no tiene relación directa con el Promotor, sólo facilita el contacto entre el usuario y Promotor. El usuario deberá tener el conocimiento y aceptar que “E Dance Event” no se responsabiliza por ningún acto cometido por cualquier usuario, ya sea por robo, discusiones y otros incluyendo el fin del compromiso a causa de algún acto.
    Los términos de uso no generan ninguna sociedad, franquicia o relación laboral entre el USUARIO y “E Dance Event”.

    · El usuario certifica que acepta todos los términos establecidos por “E Dance Event” para acceder y requerir sus servicios. Si usted no está de acuerdo con los Términos y Condiciones del uso de la aplicación, no instale la aplicación, bórrela y/o no realice ningún uso de ello ni de la página web.

    · Los Términos y Condiciones pueden ser cambiados por “E Dance Event” en cualquier momento. Al registrarse como Usuario en el sistema y aceptar los Términos y Condiciones, haciendo clic en la opción “Acepto términos y condiciones”, el Usuario declara automáticamente y se compromete a cumplir con estos términos y todas las demás políticas y normas disponibles en el sistema.
    </div>
</div>