<div class="signup-container">
  <img class="information-image" src="assets/imgs/information.png" alt="">
  <div class="vertical-separator"></div>
  <div class="signup-image">
    <img src="assets/imgs/icon_gradient.png" alt="">
  </div>
  <div class="signup-form" [formGroup]="userSignUpForm">
    <input type="text" placeholder="  Nombre" name="username" formControlName="name">
    <input type="text" placeholder="  Apellido" name="lastname" formControlName="lastname">
    <input type="text" placeholder="  Correo" name="email" formControlName="email">
    <select placeholder="  Ciudad de residencia" name="location" formControlName="location">
      <option value="">Ciudad</option>
      <option value="Medellín">Medellín</option>
      <option value="Cali">Cali</option>
      <option value="Manizales">Manizales</option>
      <option value="Bogotá">Bogotá</option>
      <option value="Bucaramanga">Bucaramanga</option>
      <option value="Cartagena">Cartagena</option>
      <option value="Pereira">Pereira</option>
      <option value="Oriente">Oriente Antioqueño</option>
      <option value="Popayán">Popayán</option>
      <option value="Barranquilla">Barranquilla</option>
      <option value="Santa Elena">Santa Elena</option>
      <option value="Bello">Bello</option>
    </select>
    <input type="text" placeholder="  Nombre de tu colectivo/organización" name="text" formControlName="signature">
    <input type="text" placeholder="  Celular de contacto" name="chellPhone" formControlName="cellPhone">
    <input type="text" placeholder="  Antiguedad en el mercado" name="expYears" formControlName="expYears">
    <input type="text" placeholder="  Número de eventos realizados el año anterior" name="eventsLastYear" title="Número de eventos realizados el año anterior" formControlName="eventsLastYear">
    <div class="selects">
      <select placeholder="Edad" name="" id="age" formControlName="age">
        <option value="">Edad</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
        <option value="60">60</option>
        <option value="61">61</option>
        <option value="62">62</option>
        <option value="63">63</option>
        <option value="64">64</option>
        <option value="65">65</option>
        <option value="66">66</option>
        <option value="67">67</option>
        <option value="68">68</option>
        <option value="69">69</option>
        <option value="70">70</option>
      </select>
      <select placeholder="Genero" name="" id="gender" formControlName="gender">
        <option value="">Genero</option>
        <option value="M">Hombre</option>
        <option value="F">Mujer</option>
        <option value="N/A">Otro</option>
      </select>
    </div>
    <input type="text" placeholder="Link de tu página web o red social 1" formControlName="socialLink1">
    <input type="text" placeholder="Link de tu página web o red social 2" formControlName="socialLink2">
    <label for="">¿Eres organizador o club?</label>
    <div class="club-or-organizer">
      <input type="radio" id="" value="Organizador" formControlName="clubOrOrganizer"> Organizador 
      <input type="radio" id="" value="Club" formControlName="clubOrOrganizer"> Club 
    </div>
    <input type="password" placeholder="  Contraseña" name="confirmPassword" formControlName="password">
    <input type="password" placeholder="  Confirma contraseña" name="password" formControlName="passwordConfirmation">
    <div class="conditions">
      <input type="checkbox" formControlName="conditions">
      <span>He leido y estoy de acuerdo con los <span (click)="openTermsDialog()" class="highlighted">Términos y condiciones</span></span>
    </div>
    <button (click)="signupUser()">¡Listo!</button>
  </div>
  <div class="forgot-action">
    <span>About EDE</span>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Registrando el usuario..."></app-loader>
<swal
  #confirmation
  title="Operación exitosa"
  text="¡Estás a un paso de publicar tus eventos de manera autónoma! En las próximas 48 horas recibirás una llamada del equipo EDE para verificar tu identidad."
  type="success"
  (confirm)="goToLogin()">
</swal>
<swal
  #errorSwalPasswords
  title="Error en los datos"
  text="Las contraseñas no coinciden"
  type="error">
</swal>
<swal
  #errorSwalData
  title="Error en los datos"
  text="Revise que tenga un email y celular validos, además todos los campos completos"
  type="error">
</swal>
<swal
  #errorDuplicatedUser
  title="Este usuario ya existe!"
  text="Hemos encontrado un usuario registrado con el mismo email, por favor verifica"
  type="error">
</swal>
<swal
  #errorSwalTerms
  title="Términos y condiciones"
  text="Debes aceptar los términos y condiciones"
  type="error">
</swal>
