.signup-container {
    background-image: url('../../assets/imgs/background.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .information-image {
        position: absolute;
        left: 15%;
    }

    .vertical-separator {
        height: 410px;
        width: 3px;
        background-color: #BF1F8D;
        position: absolute;
        left: 35%;
    }
    .signup-image {
        img {
            width: 220px;
        }
    }
    .signup-form {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        z-index: 100;
        input, select {
            height: 2em;
            width: 20em;
            margin-bottom: 1em;
            border-radius: 4px;
            font-size: 1em;
            padding-left: 5px;
        }
        label {
            color: white;
        }
        button {
            font-size: .9em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            background: linear-gradient(to right, #33cccc, #66ff99, #33cccc);
            height: 2em;
            color: #18003F;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            margin-bottom: 1em;
        }
        .selects {
            width: 20em;
            display: flex;
            select {
                height: 2em;
                border-radius: 4px;
                margin-bottom: 1em;
            }
            #gender {
                width: 60%;
            }
            #age {
                width: 40%;
                margin-right: .5em;
            }

        }
        .club-or-organizer {
            display: flex;
            width: 20em;
            color: white;
            padding-top: 10px;
            align-items: center;
            margin-bottom: 1em;
            input {
                width: 40px;
                height: 20px;
                padding: 0;
                margin: 0;
                &:last-of-type {
                    margin-left: 3em;
                }
            }
        }
        .conditions {
            display: flex;
            width: 20em;
            justify-content: space-around;
            color: white;
            font-size: .8em;
            .highlighted {
                color: #33cccc;
                text-decoration: underline;
                cursor: pointer;
            }
            input[type="checkbox"] {
                width: 3em;
                margin-right: 1em;
            }
        }
    }
    .forgot-action {
        margin: 1em;
        color: white;
        cursor: pointer;
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 900px) {

    .signup-container {
        height: auto;
        .information-image {
            position: inherit;
            margin-top: 5px;
        }

        .vertical-separator {
            display: none;
        }
    }

 }