.event-detail  {
    width: 100%;
    min-height: 100vh;
    &-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #632B8F;
        &-name {
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            color: #632B8F;
            margin: 10px;
        }
        &-phrase {
            font-size: 1em;
            color: black;
            margin: 0px 10px 10px 10px;
        }
    }
    &-info {
        padding: 0 10px;
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-image {
            width: 49%;
            height: 30em;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-description {
            width: 49%;
            height: 30em;
            color: #484480;
            margin-right: 1em;
            &-container {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                &-title {
                    font-weight: bold;
                    font-size: 1em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin: 1em 0;
                }
                &-text {
                    font-size: 1em;
                    line-height: 25px;
                }
            }
            &-location-price {
                width: 100%;
                height: 36%;
                color: white;
                background: linear-gradient(to top, #190041, #4900A9);
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                .item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .title {
                        font-weight: bold;
                        margin: 10px 2em;
                    }
                    .location, .tickets {
                        display: flex;
                        flex-direction: column
                    }
                }
                .separator {
                    margin-top: 0;
                    margin: .5em 0;
                    width: 100%;
                    height: 2px;
                    background-color: #BF1F8D
                }
            }
        }
        &-benefits {
            width: 45%;
            height: 15em;
            display: flex;
            flex-direction: column;
            color: #632B8F;
            margin-top: .5em;
            background: linear-gradient(to top, #2BCDE3, #5DEBBB);
            &-title {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 2px;
                margin: 10px;
            }
            &-separator {
                width: 100%;
                height: 2px;
                margin: 10px 0;
                background-color: white;
            }
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                div {
                    display: flex;
                    flex-direction: column;
                }
                img {
                    width: 50px;
                    margin: 0 1em;
                }
            }
        }
        &-line-up {
            color: white;
            height: 15em;
            margin-top: .5em;
            display: flex;
            flex-direction: column;
            background: linear-gradient(to top, #8510AE, #BF1F8D);
            width: 53%;
            margin-right: 1em;
            &-title {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 2px;
                margin: 10px;
            }
            &-separator {
                width: 100%;
                height: 2px;
                margin: 10px 0;
                background-color: white;
            }
            &-text {
                font-size: 1em;
                line-height: 25px;
                padding: 10px;
            }
        }
        &-statistics {
            width: 100%;
            height: 8em;
            margin-top: .5em;
            margin-right: 1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background: linear-gradient(to top, #190041, #4900A9);
            button {
                height: 3em;
                width: 18em;
                border: none;
                font-size: 1.5em;
                cursor: pointer;
                color: white;
                background: linear-gradient(to right, #8510AE, #BF1F8D);
            }
        }
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 900px) {

    .event-detail {
        &-info {
            flex-direction: column;
            &-image {
                height: 20em;;
            }
            &-image, &-description, &-benefits, &-line-up {
                width: 97%;
            }
            &-statistics {
                flex-direction: column;
                button {
                    width: 80%;
                    font-size: 1em;
                }
            }
        }
    }



 }