<div class="event-detail">
    <div class="event-detail-title">
        <span class="event-detail-title-name">{{ selectedEvent?.name }}</span>
    </div>
    <div class="event-detail-info">
        <div class="event-detail-info-image">
            <img src="{{ selectedEvent?.imageSrc }}" alt="">
        </div>
        <div class="event-detail-info-description">
            <div class="event-detail-info-description-container">
                <span class="event-detail-info-description-container-title">
                    Descripción
                </span>
                <span class="event-detail-info-description-container-text">
                    {{ selectedEvent?.description }}
                </span>
            </div>
            <div class="event-detail-info-description-location-price">
                <div class="item">
                    <span class="title">Fecha</span>
                    <span class="text">{{ getFormattedDate(selectedEvent?.startDate) }} {{ selectedEvent?.startTime }} </span>
                </div>
                <div class="separator"></div>
                <div class="item">
                    <span class="title">Lugar</span>
                    <div class="location">
                        <span>{{ selectedEvent?.location?.city }}</span>
                        <span>{{ selectedEvent?.location?.address }}</span>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="item">
                    <span class="title">Boleteria</span>
                    <div class="tickets">
                        <span *ngFor="let stage of selectedEvent?.tickets">{{ stage.name }}: {{ stage.price | currency:'COP':'$':'0.0-0' }} - {{ stage.amount_available }} tickets disponibles.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-detail-info-benefits">
            <span class="event-detail-info-benefits-title">Beneficios</span>
            <div class="event-detail-info-benefits-separator"></div>
            <div class="item" *ngIf="selectedEvent?.benefits != ''">
                <img src="assets/imgs/benefits/mujeresFree.png" alt="">
                <div>
                    <span>{{ selectedEvent?.benefits }}</span>
                </div>
            </div>
            <div class="item" *ngIf="selectedEvent?.guestlist > 0">
                <img src="assets/imgs/benefits/guestList.png" alt="">
                <span>Entrada por lista</span>
            </div>
            <div class="item">
                <img src="assets/imgs/benefits/puntos.png" alt="">
                <div>
                    <span>Pronto podrás dejar que tus usuarios acumulen puntos por sus compras</span>
                </div>
            </div>
        </div>
        <div class="event-detail-info-line-up">
            <span class="event-detail-info-line-up-title">Line Up</span>
            <div class="event-detail-info-line-up-separator"></div>
            <span class="event-detail-info-line-up-text">
                {{ selectedEvent?.lineUp }}
            </span>
            <!---<div class="warnings">
                <img src="assets/imgs/benefits/puntos.png" alt="">
                <div class="warnings-separator"></div>
                <span class="warnings-text"></span>
            </div>-->
        </div>
        <div class="event-detail-info-statistics">
            <button (click)="goToValidatorsUsers()" *ngIf="selectedEvent?.eventType != 'promotional'">Administrar usuarios validadores de tickets</button>
            <button (click)="goToEventStatistics()" *ngIf="selectedEvent?.eventType != 'promotional' || selectedEvent?.guestlist > 0">Ver datos de boleteria y guestlist</button>
        </div>
    </div>
</div>
