.create-event-container {
    width: 98vw;
    padding: 10px;
    min-height: 98vh;
    background: linear-gradient(to right, #190041, #4900A9);
    
    .title-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #5DEBBB;
            margin: 0 1em;
        }

        .actions {
            padding: 10px;
            button {
                margin-left: 1em;
                margin-right: .5em;
                height: 2em;
                border: none;
                font-weight: bold;
                cursor: pointer;
                font-size: 1em;
                text-transform: uppercase;
            }
            button.save {
                color: black;
                background: linear-gradient(to right, #2BCDE3, #5DEBBB);
            }
            button.publish {
                color: white;
                background: linear-gradient(to right, #8510AE, #BF1F8D);
            }
        }
    }

    .forms {
        padding: 10px;
        display: flex;
        textarea {
            width: 90%;
            margin-top: .5em;
            margin-bottom: 1.5em;
            border-radius: 5px;
            border: none;
            outline: none;
            padding-left: 5px;
            font-size: 1em;
        }
        .col {
            padding: 5px;
            margin: 5px;
            color: white;
        }

        .col-primary {
            width: 45%;
        }

        .col-secundary {
            width: 25%;
        }

        .left-side-form {
            background-color: #634B89;
            padding: 10px;
            .title {
                text-transform: uppercase;
                font-weight: bold;
                margin: 1em 0;
                letter-spacing: 1px;
                font-size: 1.2em;
            }
            form.data {
                display: flex;
                flex-direction: column;

                angular-editor {
                    margin-top: .5em;
                }

                input, select {
                    width: 60%;
                    height: 2em;
                    margin-top: .5em;
                    margin-bottom: 1.5em;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    padding-left: 5px;
                }

                .vj {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    .option {
                        display: flex;
                        align-items: center;
                        input {
                            width: 5%;
                            margin: 5px 0 !important;
                            font-size: .7em;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        .center-side-form {
            background-color: #4B7792;
            padding: 10px;
            display: flex;
            flex-direction: column;
            .title {
                text-transform: uppercase;
                font-weight: bold;
                margin: 1em 0;
                letter-spacing: 1px;
                font-size: 1.2em;
            }

            .image-container {
                margin: 0 auto;
                width: 95%;
                height: 15em;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                background: white;
                border: 1px solid gray;
                img {
                    height: 80%;
                    width: 100%;
                    border-bottom: 1px solid gray;
                }

                .actions {
                    display: flex;
                    height: 19%;
                    width: 100%;
                    button {
                        width: 50%;
                        background-color: white;
                        color: gray;
                        border: none;
                        cursor: pointer;
                        border-radius: 15px;
                        outline: none;
                        &:first-of-type {
                            border-right: 1px solid gray;
                        }
                    }
                }
                
            }

            .tickets-data {
                display: flex;
                flex-direction: column;
                angular-editor {
                    margin-top: .5em;
                }
                input, select, angular2-date-picker {
                    width: 90%;
                    height: 2em;
                    margin-top: .5em;
                    margin-bottom: 1.5em;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 1em;
                }

                .more-prices {
                    cursor: pointer;
                }

                .manage-options {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }

        .right-side-form {
            background-color: #8510AE;
            padding: 10px;
            .title {
                text-transform: uppercase;
                font-weight: bold;
                margin: 1em 0;
                letter-spacing: 1px;
                font-size: 1.2em;
            }

            .date-data {
                display: flex;
                flex-direction: column;

                &-start-date {
                    display: flex;
                    mat-datepicker-toggle {
                        color: white;
                    }
                }

                input, select, angular2-date-picker {
                    width: 90%;
                    height: 2em;
                    margin-top: .5em;
                    margin-bottom: 1.5em !important;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    padding-left: 5px;
                }

                .guestlist {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    .option {
                        display: flex;
                        align-items: center;
                        input {
                            width: 5%;
                            margin: 5px 0 !important;
                            font-size: 1em;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 520px) {

    .create-event-container {
        .title-actions {
            justify-content: space-around;
        }
        .forms {
            flex-direction: column;
            width: 90%;
            .col {
                width: 95%;
            }
        }
    }
 }