<div class="create-event-container">
  <div class="title-actions">
    <p class="title">crear evento</p>
    <div class="actions">
      <button class="publish" (click)="saveEvent()" *ngIf="!isEditMode">Publicar evento</button>
      <button class="publish" (click)="updateEvent()" *ngIf="isEditMode">Actualizar evento</button>
    </div>
  </div>
  <div class="forms">

    <div class="left-side-form col-primary col">
      <p class="title">Descripción</p>
      <form class="data" [formGroup]="eventToSaveFormOne">
        <label for="event-name">Nombre del evento * ({{eventName.value.length || 0 }} / 45 carac. max.)</label>
        <input type="text" formControlName="name" #eventName name="event-name" id="" maxlength="45">
        <label for="">Descripción * ({{eventDescription.value.length}} / 450 carac. max.)</label>
        <textarea rows="10"
          name="description"
          maxlength="450"
          #eventDescription
          formControlName="description">
        </textarea>
        <label for="">Género *</label>
        <select name="musicalGender" id="" formControlName="musicalGender">
          <option value="">Seleccione una opción...</option>
          <option value="{{gender}}" *ngFor="let gender of musicalGenders">{{gender}}</option>
        </select>
        <label for="">Line Up *</label>
        <textarea rows="10"
          name="lineup"
          formControlName="lineUp"
          placeholder="Describa la lista de artistas separada por un /">
        </textarea>
        <div class="vj">
          <label for="">Tu evento incluye VJ's?</label>
          <div class="option">
            <input type="radio" name="hasvj" id="" value="1" formControlName="hasvj">
            <label for="">Si</label>
          </div>
          <div class="option">
            <input type="radio" name="hasvj" id="" value="0" formControlName="hasvj">
            <label for="">No</label>
          </div>
        </div>
        <textarea rows="10" *ngIf="eventToSaveFormOne.controls.hasvj.value == 1"
          name="Vj's line up"
          formControlName="vjLineUp"
          placeholder="Describa la lista de artistas (VJ's) separada por un /">
        </textarea>
      </form>
    </div>

    <div class="center-side-form col col-secundary">
      <p class="title">Imagen</p>
      <div class="image-container">
        <input type="file" (change)="onFileSelected($event)" [hidden]="true" #fileManager name="file" id="">
        <img src="{{ temporalImage }}" alt="" (click)="openFileChooser()">
        <div class="actions">
          <button (click)="openFileChooser()">Cambiar</button>
          <button (click)="deleteImage()">Eliminar</button>
        </div>
      </div>
      <div class="separator"></div>
      <p class="title">Boletería</p>
      <form action="" class="tickets-data">
        <label for="">Tipo de evento *</label>
        <select [(ngModel)]="eventToSave.eventType" name="eventType" id="" *ngIf="!isEditMode">
          <option value="" *ngIf="loggedUser.status == 2">¿Pago, gratis ó promocional?</option>
          <option value="" *ngIf="loggedUser.status == 3">¿Gratis con registro ó promocional?</option>
          <option value="payment" *ngIf="loggedUser.status == 2">Pago</option>
          <option value="free">Gratis con registro</option>
          <option value="promotional">Promocional</option>
        </select>
        <select [(ngModel)]="eventToSave.eventType" name="eventType" id="" *ngIf="isEditMode" disabled>
          <option value="payment">Pago</option>
          <option value="free">Gratis con registro</option>
          <option value="promotional">Promocional</option>
        </select>
        <ng-container *ngIf="!isEditMode && eventToSave.eventType == 'payment'">
          <ng-container *ngFor="let i of createRange(ticketsBatches)" class="date-pickers">
            <label *ngIf="eventToSave.eventType == 'payment'" for="" >Información Etapa: {{i}}</label>
            <input *ngIf="eventToSave.eventType == 'payment'" type="text" placeholder="Nombre etapa: {{ i }}" name="batchName" class="batchName">
            <ng-container *ngIf="eventToSave.eventType == 'payment'">
              <input 
                currencyMask
                type="text" name="batchPrice" 
                class="batchPrice" 
                placeholder="{{ 'Valor: ' + i}}" 
                [options]="customCurrencyMaskConfig"
              >
            </ng-container>
            <input *ngIf="eventToSave.eventType == 'payment'" type="number" maxlength="4" name="batchQuantity" class="batchQuantity" placeholder="{{ 'Cantidad disponible: ' + i}}">
            
            <ng-container *ngIf="i == 1">
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Desde: </label>
              <input name="dt1" matInput [matDatepicker]="startDate1" [ngModel]="dateOne" (click)="startDate1.open()" (ngModelChange)="selectedTicketDate($event, 'start', i)">
              <mat-datepicker #startDate1></mat-datepicker>
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Hasta: (ó hasta agotar existencias)</label>
              <input name="dt1.1" matInput [matDatepicker]="endDate1" [ngModel]="dateTwo" (click)="endDate1.open()" (ngModelChange)="selectedTicketDate($event, 'end', i)">
              <mat-datepicker #endDate1></mat-datepicker>
            </ng-container>

            <ng-container *ngIf="i == 2">
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Desde: </label>
              <input name="dt2" matInput [matDatepicker]="startDate2" [ngModel]="dateOne" (click)="startDate2.open()" (ngModelChange)="selectedTicketDate($event, 'start', i)">
              <mat-datepicker #startDate2></mat-datepicker>
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Hasta: (ó hasta agotar existencias)</label>
              <input name="dt2.1" matInput [matDatepicker]="endDate2" [ngModel]="dateTwo" (click)="endDate2.open()" (ngModelChange)="selectedTicketDate($event, 'end', i)">
              <mat-datepicker #endDate2></mat-datepicker>
            </ng-container>

            <ng-container *ngIf="i == 3">
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Desde: </label>
              <input name="dt3" matInput [matDatepicker]="startDate3" [ngModel]="dateOne" (click)="startDate3.open()" (ngModelChange)="selectedTicketDate($event, 'start', i)">
              <mat-datepicker #startDate3></mat-datepicker>
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Hasta: (ó hasta agotar existencias)</label>
              <input name="dt3.1" matInput [matDatepicker]="endDate3" [ngModel]="dateTwo" (click)="endDate3.open()" (ngModelChange)="selectedTicketDate($event, 'end', i)">
              <mat-datepicker #endDate3></mat-datepicker>
            </ng-container>

            <ng-container *ngIf="i == 4">
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Desde: </label>
              <input name="dt4" matInput [matDatepicker]="startDate4" [ngModel]="dateOne" (click)="startDate4.open()" (ngModelChange)="selectedTicketDate($event, 'start', i)">
              <mat-datepicker #startDate4></mat-datepicker>
              <label for="" *ngIf="eventToSave.eventType == 'payment'">Fecha Hasta: (ó hasta agotar existencias)</label>
              <input name="dt4.1" matInput [matDatepicker]="endDate4" [ngModel]="dateTwo" (click)="endDate4.open()" (ngModelChange)="selectedTicketDate($event, 'end', i)">
              <mat-datepicker #endDate4></mat-datepicker>
            </ng-container>

          </ng-container>
          <div class="manage-options">
            <p (click)="ticketsBatches=ticketsBatches+1" class="more-prices">+ Agregar otra etapa</p>
            <p (click)="ticketsBatches=ticketsBatches-1" class="more-prices">- Eliminar etapa</p>
          </div>
        </ng-container>
        <ng-container *ngIf="isEditMode">
          <ng-container *ngFor="let stage of eventToSave.tickets; let i = index" class="date-pickers">
            <label for="" >Información Etapa: {{i}}</label>
            <input 
              type="text" 
              placeholder="Nombre etapa: {{ i }}" 
              name="batchName" 
              class="batchName" 
              [value]="stage.name" disabled>
            <label for="" >Precio:</label>
            <input 
              currencyMask
              type="text" name="batchPrice" 
              class="batchPrice"
              [(ngModel)]="stage.price"
              placeholder="{{ 'Valor: ' + i}}" 
              [options]="customCurrencyMaskConfig"
              disabled>
            <label for="" >Cantidad disponible:</label>
            <input 
              type="number" 
              maxlength="4" 
              name="batchQuantity" 
              class="batchQuantity" 
              placeholder="{{ 'Cantidad disponible: ' + i}}"
              [value]="stage.amount_available"
              disabled>
            <label for="">Fecha Desde: </label>
            <input type="text" [value]="formatDate(stage.start_date, 'DD-MMMM')" disabled/>
            <label for="">Fecha Hasta: (ó hasta agotar existencias)</label>
            <input [value]="formatDate(stage.end_date, 'DD-MMMM')" disabled/>
          </ng-container>  
        </ng-container>
      </form>
    </div>
    <div class="right-side-form col col-secundary">
      <p class="title">Fecha - Hora </p>
      <div class="date-data">
        <label for="">Fecha inicio *</label>
        <div class="date-data-start-date">
          <input matInput [matDatepicker]="startDate" [(ngModel)]="eventToSave.startDate" (click)="startDate.open()">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
        <label for="">Hora inicio</label>
        <input type="text" atp-time-picker [(ngModel)]="eventToSave.startTime"/>
        <label for="">Fecha fin *</label>
        <div class="date-data-start-date">
          <input matInput [matDatepicker]="endDate" [(ngModel)]="eventToSave.endDate" (click)="endDate.open()">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </div>
        <label for="">Hora Fin</label>
        <input type="text" atp-time-picker [(ngModel)]="eventToSave.endTime"/>
        <form [formGroup]="eventToSaveFormTwo" class="date-data">
          <div class="separator"></div>
          <p class="title">Ubicación</p>
          <label for="">Locación *</label>
          <select name="city" formControlName="city">
            <option value="">Seleccione una opción</option>
            <option value="Medellín">Medellín</option>
            <option value="Manizales">Manizales</option>
            <option value="Pereira">Pereira</option>
            <option value="Cali">Cali</option>
            <option value="Tolú">Tolú</option>
            <option value="Popayán">Popayán</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Bogotá">Bogotá</option>
            <option value="Bucaramanga">Bucaramanga</option>
            <option value="Oriente Antioqueño">Oriente Antioqueño</option>
            <option value="Calle 9 + 1">Calle 9 + 1</option>
            <option value="Xplicit Club">Xplicit Club</option>
            <option value="Mute Medellín">Mute Medellín</option>
          </select>
          <label for="">Dirección *</label>
          <input type="text" name="address" id="" formControlName="address">
          <div class="separator"></div>
          <div class="guestlist">
            <label for="">Guestlist</label>
            <div class="option">
              <input type="radio" name="guestlist" id="" value="1" formControlName="guestlist">
              <label for="">Si</label>
            </div>
            <div class="option">
              <input type="radio" name="guestlist" id="" value="0" formControlName="guestlist">
              <label for="">No</label>
            </div>
          </div>
          <label for="" *ngIf="eventToSaveFormTwo.controls.guestlist.value == 1">Cantidad de invitados por lista</label>
          <input type="number" *ngIf="eventToSaveFormTwo.controls.guestlist.value == 1" name="guestlistQuantity" title="ATENCIÓN: Una vez sea publicado el evento, este campo no será editable" formControlName="guestlistQuantity">
          <p class="title">Beneficios</p>
          <label for="">Beneficios especiales (Aqui debe especificarse las garantias de abrir el Guestlist Ejemplo: Disponibles 100 cupos por guestlist entran  2x1 hasta las 12:00am. Ó especificar beneficios especiales que tenga su fiesta.)</label>
          <textarea rows="10"
            name="benefits"
            formControlName="benefits"
            title="ATENCIÓN: Una vez sea publicado el evento, este campo no será editable">
          </textarea>
          <div class="separator"></div>
          <p class="title">Advertencias</p>
          <textarea name="warnings" id="" cols="30" formControlName="warnings" rows="10" maxlength="100"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader [message]="loaderMessage" *ngIf="showLoader"></app-loader>
<swal
  #errorSwal
  title="Error"
  text="Verifique que todos los datos esten completos y las fechas bien establecidas e intente de nuevo"
  type="error">
</swal>
<swal
  #errorSwalImg
  title="Error con la imagen"
  text="La imagen debe medir 600 x 640 px"
  type="error">
</swal>
<swal
  #confirmation
  title="Operación exitosa"
  text="Tu evento ha sido creado exitosamente"
  type="success">
</swal>
<swal
  #errorTicketingData
  title="Oops!"
  text="Los datos de las etapas de boletería estan incompletos, por favor revisa"
  type="error">
</swal>
<swal
  #errorTicketingDates
  title="Oops!"
  text="Las fechas de las etapas de boletería no deben cruzarse"
  type="error">
</swal>