<h1 mat-dialog-title>Crea un nuevo usuario</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="">
            <input matInput placeholder="Nombre" name="name" [(ngModel)]="user.name">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="Apellidos" name="lastname" [(ngModel)]="user.lastname">
        </mat-form-field>

        <mat-form-field class="">
            <input matInput placeholder="email" *ngIf="isEditMode" name="email" [(ngModel)]="user.email" disabled>
            <input matInput placeholder="email" *ngIf="!isEditMode" name="email" [(ngModel)]="user.email">
        </mat-form-field>

        <mat-form-field>
            <mat-select name="location" [(ngModel)]="user.location" placeholder="Ubicación">
                <mat-option value="Medellín">Medellín</mat-option>
                <mat-option value="Bogotá">Bogotá</mat-option>
                <mat-option value="Cali">Cali</mat-option>
                <mat-option value="Pereira">Pereira</mat-option>
                <mat-option value="Popayan">Popayan</mat-option>
                <mat-option value="Manizales">Manizales</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select name="rol" [(ngModel)]="user.role" placeholder="Rol del usuario">
                <mat-option value="Administrador" *ngIf="isAdminUser">Administrador</mat-option>
                <mat-option value="Raver" *ngIf="isAdminUser">Usuario</mat-option>
                <mat-option value="Firma" *ngIf="isAdminUser">Firma del colectivo</mat-option>
                <mat-option value="Portero">Verificador de tickets</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="user.role == 'Firma'">
            <input matInput placeholder="Firma (Nombre colectivo)" name="signature" [(ngModel)]="user.signature">
        </mat-form-field>
        
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onConfirmClick()">Guardar</button>
</div>