<div class="events-container">
  <header class="events-header">
    <div class="events-header-info">
      <img src="assets/imgs/icon.png" alt="EDE LOGO" (click)="goToHome()">
      <div class="events-header-info-title">
          <span>Bienvenido a</span>
          <div class="events-header-info-title-name">
            <span>E</span>
            <span>Dance</span>
            <span>Event</span>
          </div>
      </div>
    </div>
    <div class="events-header-user">
      <span class="events-header-user-signature">
        {{ loggedUser.signature || loggedUser.name }}
      </span>
    </div>
  </header>
  <nav role='navigation'>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a (click)="goToEvents()"><li><p class="icon-events"></p>   Eventos</li></a>
        <a (click)="goToUsers()" *ngIf="loggedUser.role == 'Administrador'"><li><p class="icon-user"></p>   Usuarios</li></a>
        <a (click)="logout()"><li><p class="icon-logout"></p>   Cerrar sesion</li></a>
      </ul>
    </div>
  </nav>
  <div class="events-separator"></div>
  <section class="events-data">
    <div class="events-data-header">
      <span *ngIf="isAdminUser">Usuarios</span>
      <span *ngIf="!isAdminUser">Usuarios Porteros</span>
      <button *ngIf="isAdminUser" (click)="openCreateUserDialog()">Nuevo Usuario</button>
      <button *ngIf="!isAdminUser" (click)="openCreateUserDialog()">Crear nuevo usuario</button>
    </div>
    <div class="events-data-filters" *ngIf="isAdminUser">
      <div class="item">
        <label for="">Nombre</label>
        <input type="text" [(ngModel)]="userFilters.name">
      </div>
      <div class="item">
        <label for="">Ciudad</label>
        <input type="text" [(ngModel)]="userFilters.city">
      </div>
      <div class="item">
        <label for="">Firma</label>
        <input type="text" [(ngModel)]="userFilters.signature">
      </div>
      <div class="item">
        <label for="">Estado</label>
        <select name="states" id="" [(ngModel)]="userFilters.status">
          <option value="3">Todos</option>
          <option value="0">Inactivo</option>
          <option value="1">En arobación</option>
          <option value="2">Activo</option>
        </select>
      </div>
      <div class="item">
        <label for="">Rol</label>
        <select name="roles" id="" [(ngModel)]="userFilters.role">
          <option value="">Todos</option>
          <option value="Administrador">Administradores</option>
          <option value="Portero">Porteros</option>
          <option value="Firma">Organizadores</option>
          <option value="Raver">Ravers</option>
        </select>
      </div>
      <div class="item">
        <button (click)="clearFilters()">Limpiar filtros</button>
      </div>
      <div class="item">
        <button (click)="filterUsers()">Buscar</button>
      </div>
    </div>
    <div class="events-data-table">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th *ngIf="isAdminUser">Ciudad</th>
            <th *ngIf="isAdminUser">Rol</th>
            <th *ngIf="isAdminUser">Firma</th>
            <th *ngIf="isAdminUser">Fecha de registro</th>
            <th *ngIf="isAdminUser">Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="pageOfItems">
          <tr *ngFor="let user of pageOfItems">
            <td>{{user?.name}} {{ user?.lastname }}</td>
            <td>{{user?.email}}</td>
            <td *ngIf="isAdminUser">{{user?.location}}</td>
            <td *ngIf="isAdminUser">{{user?.role }}</td>
            <td *ngIf="isAdminUser">{{user?.signature || 'N/A'}}</td>
            <td *ngIf="isAdminUser">{{user?.createdAt | date }}</td>
            <td *ngIf="isAdminUser">{{user?.status == 2 || user?.status == 3 ? 'Activo' : user?.status == 1 ? 'En aprobación' : 'Inactivo' }}</td>
            <td>
              <span class="icon-pencil" title="Editar" (click)="openUpdateUserDialog(user)"></span>
              -
              <span class="icon-delete" title="Inactivar" (click)="openInactiveUserConfirmation(user)" *ngIf="user?.status == 2"></span>
              <span class="icon-upload" title="Activar" (click)="openActivateUserConfirmation(user)" *ngIf="user?.status == 0"></span>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="pageOfItems && pageOfItems.length == 0">
          <tr>
            <td>No hay información para mostrar.</td>
            <td>&nbsp;</td>
            <td *ngIf="isAdminUser">&nbsp;</td>
            <td *ngIf="isAdminUser">&nbsp;</td>
            <td *ngIf="isAdminUser">&nbsp;</td>
            <td *ngIf="isAdminUser">&nbsp;</td>
            <td *ngIf="isAdminUser">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <div class="paginator-container">
        <paginator [items]="users" [pageSize]="20" [maxPages]="5" (changePage)="onChangePage($event)"></paginator>
      </div>
    </div>
  </section>
</div>
<app-loader [message]="loaderMessage" *ngIf="showLoader"></app-loader>
<swal
  #inactiveUserConfirmation
  title="¿Estás seguro?"
  text="Confirma que quieres inactivar este usuario"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteUser()"
  type="question">
</swal>
<swal
  #alreadyExistentUser
  title="Este usuario ya existe!"
  text="Al parecer este usuario ya fue creado en nuestra plataforma, por favor verifica"
  type="error">
</swal>
<swal
  #activeUserConfirmation
  title="¿Estás seguro?"
  text="Confirma que quieres activar nuevamente este usuario"
  [showCancelButton]="true"
  (confirm)="activateUser()"
  type="question">
</swal>
<swal
  #confirmationActived
  title="Operación exitosa"
  text="Se activo el usuario correctamente"
  type="success">
</swal>

<swal
  #confirmationInactived
  title="Operación exitosa"
  text="Se inactivo el usuario correctamente"
  type="success">
</swal>