.home-container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #190041, #4900A9);
    .home-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &-info {
            display: flex;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                margin-right: 2em;
            }
            &-title {
                display: flex;
                flex-direction: column;
                text-transform: uppercase; 
                color: white;
                &-name {
                    display: flex;
                    font-weight: bold;
                    font-size: 1.5em;
                    span {
                        margin-right: .5em;
                    }
                }
            }
        }
        &-user {
            display: flex;
            align-items: center;
            color: white;
            &-signature {
                margin-right: 4em;
                font-size: 2em;
                font-weight: bold;
                color: #69F1B0;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .home-data {
        margin-top: 1em;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .item {
            margin-right: 1em;
            cursor: pointer;
        }
    }
    .home-separator {
        width: 100%;
        background-color: #4900A9;
        transition: height 0.15s ease-in;
        height: 0.5em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: white;
        flex-direction: column;
    }
}

 /* Smartphones (portrait and landscape) ----------- */
 @media screen and (min-width : 320px) and (max-width : 900px) {

    .home-container {
        width: auto;
        .home-header {
            &-info {
                &-title {
                    &-name {
                        font-size: 1em;
                    }
                }
            }
        }
        .home-data {
            overflow-x: scroll;
            justify-content: start;
        }
    }

 }