<div class="home-container">
    <header class="home-header">
        <div class="home-header-info">
            <img src="assets/imgs/icon.png" alt="EDE LOGO">
            <div class="home-header-info-title">
                <span>Bienvenido a</span>
                <div class="home-header-info-title-name">
                    <span>E</span>
                    <span>Dance</span>
                    <span>Event</span>
                </div>
            </div>
            </div>
            <div class="home-header-user">
            <span class="home-header-user-signature">
                {{ loggedUser.signature || loggedUser.name }}
            </span>
            <!--<img (click)="toggleMenu()" src="assets/imgs/menu.svg" alt="">-->
        </div>
    </header>
    <nav role='navigation'>
        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
          
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>
          
          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu">
            <a (click)="goToEvents()"><li><p class="icon-events"></p>   Eventos</li></a>
            <a (click)="goToUsers()" *ngIf="loggedUser.role == 'Administrador'"><li><p class="icon-user"></p>   Usuarios</li></a>
            <a (click)="logout()"><li><p class="icon-logout"></p>   Cerrar sesion</li></a>
          </ul>
        </div>
    </nav>
    <div class="home-separator"></div>
    <div class="home-data">
        <div class="item">
            <img src="assets/imgs/profile.png">
        </div>
        <div class="item" routerLink="/events">
            <img src="assets/imgs/events_panel.png" alt="">
        </div>
        <div class="item" routerLink="/users" *ngIf="loggedUser.role == 'Administrador'">
            <img src="assets/imgs/users_panel.png">
        </div>
    </div>
</div>