:host {
    display: flex;
    width: 50%;
    height: 6em;
    border: 2px solid black;
    margin-bottom: 2em;
    cursor: pointer;
    img {
        width: 100px;
        height: 100px;
    }
    .description {
        text-align: center;
        width: 80%;
        padding: 20px;
    }
    &:hover {
        box-shadow: 2px 2px 2px gray;
    }
}