<div class="confirmation-container">
  <header class="confirmation-header">
    <div class="confirmation-header-info">
      <img src="assets/imgs/icon.png" alt="EDE LOGO">
      <div class="confirmation-header-info-title">
        <span>Bienvenido a</span>
        <div class="confirmation-header-info-title-name">
          <span>E</span>
          <span>Dance</span>
          <span>Event</span>
        </div>
      </div>
    </div>
    <div class="confirmation-header-user">
      <span class="confirmation-header-user-signature">
        {{ loggedUser.signature || loggedUser.name }}
      </span>
      <img src="assets/imgs/menu.svg" alt="">
    </div>
  </header>
  <div class="confirmation-separator"></div>
  <section class="confirmation-user-info" *ngIf="!alreadyApproved">
    <span>Nombre: {{ userToVerify.name }} {{ userToVerify.lastname }} </span>
    <span>Ciudad: {{ userToVerify.location }}</span>
    <span>Email: {{ userToVerify.email }}</span>
    <span>Celular: {{ userToVerify.cellPhone }}</span>
    <span>Nombre del colectivo/organización: {{ userToVerify.signature }}</span>
    <span>Años de experiencia en el mercado: {{ userToVerify.expYears }}</span>
    <span>Total eventos realizados el año pasado: {{ userToVerify.eventsLastYear }}</span>
    <span>Link redes sociales 1: {{ userToVerify.socialLink1 }}</span>
    <span>Link redes sociales 2: {{ userToVerify.socialLink2 }}</span>
    <span>Organizador ó club?: {{ userToVerify.clubOrOrganizer }}</span>
    <div class="confirmation-user-info-access-type">
      <label for="">Tipo de acceso para este usuario</label>
      <select name="accessType" id="" [(ngModel)]="userStatus">
        <option value="0">Seleccione uno</option>
        <option value="2">Full Access (Incluye pagos en la app)</option>
        <option value="3">Eventos gratuitos, promocionales</option>
      </select>
    </div>
  </section>
  <section class="confirmation-user-info" *ngIf="alreadyApproved">
    <span>Este usuario ya fue validado.</span>
    <button class="approv" (click)="goToHome()">Regresar</button>
  </section>
  <div class="confirmation-user-actions" *ngIf="!alreadyApproved">
    <button class="approv" (click)="approvUser(true)">Aceptar</button>
    <button class="reject" (click)="approvUser(false)">Rechazar</button>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Registrando el usuario..."></app-loader>
<swal
  #confirmationApprov
  title="Operación exitosa"
  text="Se aprobo el ingreso del usuario."
  type="success"
  (confirm)="goToHome()">
</swal>
<swal
  #confirmationReject
  title="Operación exitosa"
  text="Se rechazo el ingreso del usuario."
  type="success"
  (confirm)="goToHome()">
</swal>
<swal
  #errorAccessType
  title="Oops!"
  text="Por favor indique el tipo de acceso para este usuario"
  type="error">
</swal>
