.confirmation-container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #190041, #4900A9);
    overflow-y: scroll;
    .confirmation-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &-info {
            display: flex;
            align-items: center;
            img {
                width: 80px;
                height: 80px;
                margin-right: 2em;
            }
            
            &-title {
                display: flex;
                flex-direction: column;
                text-transform: uppercase; 
                color: white;
                &-name {
                    display: flex;
                    font-weight: bold;
                    font-size: 1.5em;
                    span {
                        margin-right: .5em;
                    }
                }
            }
        }
        &-user {
            display: flex;
            align-items: center;
            color: white;
            &-signature {
                margin-right: 2em;
                font-size: 2em;
                font-weight: bold;
                color: #69F1B0;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .confirmation-separator {
        width: 100%;
        height: .5em;
        background-color: #4900A9;
    }

    .confirmation-user-info {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        color: white;
        align-items: center;
        &-access-type {
            display: flex;
            flex-direction: column;
            margin: 1em;
            select {
                height: 2em;
                border-radius: 5px;
                margin-top: 10px;
                font-size: 1em;
            }
        }
        span {
            margin-bottom: 1em;
        }
        .approv {
            background-color: white;
            color: gray;
            border: none;
            cursor: pointer;
            border-radius: 15px;
            outline: none;
            height: 2em;
            font-size: 1.5em;
            width: 10em;
            display: block;
            margin: 1em auto;
            color: black;
            background: linear-gradient(to right, #2BCDE3, #5DEBBB);
        }
    }
    .confirmation-user-actions {
        button {
            background-color: white;
            color: gray;
            border: none;
            cursor: pointer;
            border-radius: 15px;
            outline: none;
            height: 2em;
            font-size: 1.5em;
            width: 10em;
            display: block;
            margin: 1em auto;
            &:first-of-type {
                border-right: 1px solid gray;
            }
        }
        button.approv {
            color: black;
            background: linear-gradient(to right, #2BCDE3, #5DEBBB);
        }
        button.reject {
            color: white;
            background: linear-gradient(to right, #8510AE, #BF1F8D);
        }
    }
}