.payment-status-container {
    background-image: url('../../assets/imgs/background.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    &-top-image {
        img {
            width: 250px;
            height: 250px;
        }
    }
    &-transaction-status {
        width: 100%;
        background: white;
        padding: 20px;
        margin-top: -2em;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }
    &-data {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 10px;
        &-item {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 1.5em;
                text-transform: uppercase;
            }
            .value {
                font-size: 1.2em;
            }
            margin-bottom: 20px;
        }
    }
    &-actions {
        color: white;
        button {
            height: 3em;
            width: 10em;
            border-radius: 5px;
            font-size: 1em;
            margin-bottom: 2em;
            text-transform: uppercase;
            background: #791B85;
            border: 2px solid white;
            color: white;
            margin-top: 4em;
            cursor: pointer;
        }
    }
}