<div class="payment-status-container">
  <div class="payment-status-container-top-image">
    <img src="assets/imgs/icon_gradient.png" alt="">
  </div>
  <div class="payment-status-container-transaction-status">
    <span class="" *ngIf="response">{{response.data.text_response}}</span>
    <span class="" *ngIf="badParameters">Las referencias especificadas no fueron encontradas</span>
  </div>
  <div class="payment-status-container-data" *ngIf="response">
    <div class="payment-status-container-data-item">
      <span class="title">Fecha: </span>
      <span class="value">{{ response.data.data.fecha }}</span>
    </div>
    <div class="payment-status-container-data-item">
      <span class="title">Nombre del evento: </span>
      <span class="value">{{ response.data.data.descripcion }}</span></div>
    <div class="payment-status-container-data-item">
      <span class="title">Banco: </span>
      <span class="value">{{ response.data.data.banco }}</span>
    </div>
    <div class="payment-status-container-data-item">
      <span class="title">Código de seguimiento: </span>
      <span class="value">{{ response.data.data.ref_payco }}</span>
    </div>
    <div class="payment-status-container-data-item">
      <span class="title">Referencia del pago: </span>
      <span class="value">{{ response.data.data.ticketId }}</span>
    </div>
    <div class="payment-status-container-data-item">
      <span class="title">Número de factura: </span>
      <span class="value">{{ response.data.data.factura }}</span>
    </div>
  </div>
  <div class="payment-status-container-actions">
    <span>**Para cerrar esta pantalla y regresar a EDE haga click en el boton de la esquina superior derecha X **</span>
  </div>
</div>
<app-loader *ngIf="showLoader" message="Consultando el estado de la transacción..."></app-loader>
