/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?s5aqcw');
  src:  url('assets/fonts/icomoon.eot?s5aqcw#iefix') format('embedded-opentype'),
        url('assets/fonts/icomoon.ttf?s5aqcw') format('truetype'),
        url('assets/fonts/icomoon.woff?s5aqcw') format('woff'),
        url('assets/fonts/icomoon.svg?s5aqcw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e900";
}
.icon-upload:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e903";
}
.icon-events:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e901";
}

* {
    font-family: 'Roboto';
}

html, body {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    height: auto;
    font-family: 'Roboto';
    overflow-x: hidden;
}

a
{
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 40px;
  right: 45px;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: white;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: white;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: fixed;
   width: 300px;
   margin: -100px 0 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -100px;
   height: 100vh;
   background: #190041;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 18px;
   color: white;
   margin-bottom: 2em;
   border-bottom: 1px solid #4900A9;
   transition: border 0.3s ease, background 0.3s ease;
   display: flex;
   align-items: center;
   p {
     font-size: 1.7em;
     margin: 0;
     margin-right: .5em;
   }
 }
 #menu li:hover {
   background: #4900A9;
   border-bottom-color: white;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: scale(1.0, 1.0);
   opacity: 1;
 }

.angular-editor-textarea {
    background-color: white !important;
    color: black !important;
    margin-bottom: 1.5em;
}

/* Helper classes */
.separator {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 2em;
}

angular2-date-picker {
    .wc-date-container {
        background: red;
    }
}