:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.title {
        text-align: center;
        width: 80%;
        height: 4em;
    }
    div.posts-container {
        margin-top: 1em;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        post {
            width: 24%;
            height: 10em;
            margin-bottom: 1em;
        }
    }
}