<div class="title">
  <h2>{{ title }}</h2>
</div>
<div class="posts-container">
  <post *ngFor="let post of posts"
    [title]="post.title"
    [imageSrc]="post.imageSrc"
    [description]="post.description">
  </post>
</div>
